<div class="container">
  <div class="px-4 py-5 my-5 text-center">
      <h1 class="display-5 fw-bold"><%= @player.username %></h1>
      <div class="col-lg-9 mx-auto">
        <p class="lead mb-4">Win count: <%= @player.win_count %></p>
        <p class="lead mb-4">Loss count: <%= @player.loss_count %></p>
        <p class="lead mb-4">Draw count: <%= @player.draw_count %></p>
      </div>
  </div>
</div>