/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*table.game_table {
  border: 1px solid white;
}
*/

.game_tr {
  font-size: 4rem;
  text-align: center;
}

.game_td {
   border: 2px solid gray;
   height: 8rem;
   width: 4rem;
}

.game_td_winning {
  background-color: darkcyan !important;
}

.game_td_1,
.game_td_2,
.game_td_3 {
  border-top: none;
}

.game_td_1,
.game_td_4,
.game_td_7 {
  border-left: none;
}

.game_td_7,
.game_td_8,
.game_td_9 {
  border-bottom: none;
}

.game_td_3,
.game_td_6,
.game_td_9 {
  border-right: none;
}