<footer class="text-center text-lg-start fixed-bottom">
  <div class="text-center p-3">
    Built with ❤️ by  <a target="_blank" href="https://www.linkedin.com/in/abdulla-mahmoud/">Abdulla</a> | <a target="_blank" href="https://www.github.com/aboodchei/">Source code</a>
  </div>
</footer>
